env/
.DS_Store
.idea
dist
*.pyc
*.iml
**/workflow-properties/*
resources/globalpreprod.cfg
resources/globalprod.cfg
*.zip
*.json
*.xlsx
*.jar
MANIFEST
*.csv
*mapper.py
!thrivext/templates/report_template.html
!LICENSE.txt
docs/*
!docs/*.rst
!docs/*.py
!docs/Makefile
.vagrant/
Vagrantfile