.idea
dist
*.pyc
*.iml
*.html
**/workflow-properties/*
resources/globalpreprod.cfg
resources/globalprod.cfg
*.zip
*.json
*.xlsx
*.jar
MANIFEST
*.txt
*.csv
*mapper.py
!thrivext/templates/report_template.html
!LICENSE.txt
docs/*
!docs/*.rst
!docs/*.py
!docs/Makefile